.btn {
	left: 50%;
	bottom: -30px;
	font-size: 18px;	
	padding: 5px 20px;
	position: absolute;
	color: $brand-color;
	text-decoration: none;
	transform: translateX(-50%);
	border: 2px solid $brand-color;
}

