h1, h2, h3, h4, h5 {
	color: $brand-color;
	font-family: $font-family-headings;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
}

p {
	margin-bottom: 1em;
}
