// Setting font families

$font-family-base      : 'levenim_mtregular', sans-serif;
$font-family-headings  : 'levenim_mtbold', sans-serif;

// Colors

$brand-color  	: #391614;
$footer-bg    	: #90817f;

// Breakpoints

$mobile			: 320px;
$tablet			: 768px;
$small-desktop	: 1024px;
$medium-desktop	: 1175px;
$desktop		: 1280px;