.main-footer {
	height: 200px;
	color: white;
	display: flex;
	font-size: 24px;
	padding: 0 160px;
	background-color: $footer-bg;

	.footer-container {
		flex: 1;
	}

	.footer-logo {
		padding: 20px 0;
		img {
			width: 100%;
			height: auto;
			max-width: 160px;
		}
	}

	.footer-social {
		flex: 2;
		padding: 15px 0;
		text-align: center;

		.social-nav {
			padding: 0;
			margin: 10px auto 0;
			width: 200px;
			display: flex;
			list-style: none;
			justify-content: space-between;			

			li {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 2px solid white;

				a {
					color: white;
					padding: 10px;
					font-size: 30px;
					line-height: 50px;					
				}
			}
		}
	}

	.footer-copyright {
		padding: 65px 0;
		p {
			text-align: right;
		}
	}
}