.main-header {
	top: 0;
	width: 100%;
	height: 120px;
	padding: 0 160px;
	position: fixed;
	display: flex;
	background: white;
	z-index: 99999;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
	
	@include until($small-desktop) {
		padding: 0 20px;
	}

	.logo {
		width: 85px;
		padding: 20px 0;

		@include between($mobile, $small-desktop) {
			width: 80px;
		}
		
		img {
			width: 100%;
			height: auto;
		}
	}

	.main-nav {
		@include until($tablet) {
			display: none;
		}

		 // Mobile menu open
    	&.open-menu {
	      top: 120px;
	      left: 0;
	      right: 0;
	      bottom: 0;
	      margin: 0;
	      padding: 0;
	      max-height: 100%;
	      position: fixed;
	      z-index: 1000;
	      background: white;
	      display: block
	    }

	    &.open-menu ul.main-menu {
	      @include until ($tablet) {
	        display: block;
	        background: white;
	        z-index: 2000;
	        position: fixed;
	        top: 100px;
	        bottom: 0;
	        right: 0;
	        left: 0;        
	      }

	    }

		.main-menu {
			padding: 35px 0;
			list-style-type: none;

			@include until($tablet) {
				padding: 0;
			}

			@include between($tablet, $small-desktop) {
				padding: 30px 0;
			}

			li {
				margin-left: 30px;
				display: inline-block;

				@include until($tablet) {
					margin: 0;
					display: block;
					padding: 20px 0;
					text-align: center;
					border-top: 1px solid $brand-color;
				}

				@include between($tablet, $small-desktop) {
					margin-left: 20px;
				}

				a {
					display: block;
					color: $brand-color;
					text-decoration: none;
					text-transform: capitalize;
					font-family: $font-family-base;	

					&.selected {
						text-shadow: 1px 1px 2px $brand-color;
					}

					&:after {
						content: '';
					    display: block;
					    width: 0;
					    height: 2px;
					    background: $brand-color;
					    transition: width .3s;
					}	
					&:hover:after {
						width: 100%;
						@include until($tablet) {
							width: 0;
						}
					}		
				}
			}		   

		}
	}

	.navicon {
        display: block;
        text-align: center;
        height: 120px;
        padding: 0;
        background: white;
        line-height: 120px;
        position: static;

        @include at-least ($tablet) {
          display: none;
        }

        &:focus {
            outline: 0;
        }

        .hamburger {            
            display: inline-block;
            vertical-align: middle;

            [class^="layer"] {
                background-color: $brand-color;
                margin-bottom: 6px;
                width: 35px;
                height: 3px;
                opacity: 1;
                display: block;
                transition: all 0.2s ease;
                @include until ($tablet) {
                    width: 26px;
                }
            }
            .layer-bottom { margin-bottom: 0 }
        }
        &.open-menu .hamburger {
            [class^="layer"] { background-color: $brand-color; }
            .layer-top {
                transform: translateY(295%) rotate(45deg);
            }
            .layer-middle { opacity: 0; }
            .layer-bottom {
                transform: translateY(-300%) rotate(135deg);
            }
        }
    }
}

.header-fix {
	height: 120px;
}