.main {
	width: 100%;
	h1 {
		text-align: center;
		&.align-left {
			text-align: left;
			padding-left: 160px;
		}
	}
	.main-content {
		font-size: 24px;
		line-height: 1.5;
		max-width: 1400px;
		margin: 0 auto;
		column-count: 2;
		-webkit-column-count: 2;
		column-gap: 250px;
		-webkit-column-gap: 250px;

		@include until($tablet) {
			padding: 0 20px;
			font-size: 18px;
			column-count: 1;
			-webkit-column-count: 1;
			column-gap: 0;
			-webkit-column-gap: 0;
		}
	}
	
}

.treatments {
	h2 {
		text-align: center;
	}
	.treatments-container {
		display: flex;
		flex-wrap: wrap;

		@include until($tablet) {
			flex-direction: column;
		}

		.treatment {
			flex: 1 23%;
			margin: 0 10px 80px;
			text-align: center;
			position: relative;

			@include until($tablet) {
				margin-bottom: 20px;
			}

			.treatment-thumb {
				height: 310px;
				background-size: cover;
				background-position: center;
			}

			.treatment-title {
				font-size: 30px;
				text-align: center;
				font-family: $font-family-base;
			}

			.excerpt {
				font-size: 18px;
				text-align: left;
			}
		}
	}
}